body,
html {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #FCFCA6;
  height: 100%;
  margin: 0;
  padding: 0;
}

#main {
  background-image: url("../img/bgimg1a.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main-title {
  text-align: center;
  position: relative;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5em;
  line-height: 50%;
}

.main-counter {
  visibility: hidden;
}

h2 {
  text-align: center;
  font-size: 2em;
}

nav {
  position: fixed;
  text-align: center;
  background-color: black;
  width: 100%;
  z-index: 1;
  font-size: 1em;
}

.nav-logo {
  float: left;
}

.links-left {
  float: right;
  padding: 5px 20px;
}

nav ul li {
  display: inline;
  padding-right: 30px;
}

a {
  text-decoration: none;
}

a:link {
  color: #FCFCA6;
}

a:visited {
  color: #FCFCA6;
}

a:hover {
  color: #88885c;
}

section {
  height: 100%;
  padding-top: 50px;

}

table {
  width: 90%;
  height: 70%;
  /* background-color: #701103; */
  padding: 15px;
  text-align: center;
  margin: auto;
}

th {
  border-bottom: #FCFCA6 1px solid;
  color: #fffff1;
  font-size: 1.5em;
}

th,
td {
  padding: 00px;
}

.left {
  width: 70%;
  float: left;
}

.img_left {
  width: 80%;
}

.img_map {
  width: 30%;
}

.img_right {
  width: 40%;
}

.right {
  text-align: justify;
  line-height: 50px;
}


.container {
  width: 80%;
  text-align: center;
  margin-top: 5%;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 33%;
  text-align: justify;

}

#faq {
  height: 80%;

}

.logos {
  width: 50px;
}

.left_cont {
  width: 50%;
  float: left;
  text-align: left;
  padding-left: 200px;
  line-height: 30px;
}

.right-cont {
  float: left;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.column-triple {
  width: 20%;
  margin: 50px;
  text-align: justify;
}

.column-triple>img {
  width: 100%;
}

@media only screen and (max-width: 600px) {

  body,
  html {
    font-size: 70%;
  }

  #main {
    background-image: url("../img/bgimg1a.jpg");
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #main-title {
    text-align: center;
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    line-height: 50%;
  }

  h2 {
    text-align: center;
    font-size: 2em;
  }

  .main-description {
    visibility: visible;
    text-align: center;
    height: 40%;
  }

  table {
    width: 90%;
    height: 80%;
    /* background-color: #701103; */
    padding: 5px;
    text-align: center;
    margin: auto;
  }

  th,
  td {
    padding: 5px;
  }
}