* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: rgb(5, 5, 5);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #FCFCA6;
  height: 100%;
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  width: 100%;
  background: rgb(0, 0, 0);
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  z-index: 1;
}

nav ul {
  visibility: hidden;
}

nav ul li {
  display: inline-block;
  display: none;
  padding: 0 10px;
}


a {
  color: #FCFCA6;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}

a:link {
  color: #FCFCA6;
}

a:visited {
  color: #FCFCA6;
}

a:hover {
  color: #88885c;
}

.fa-bars {
  font-size: 30px;
  display: block;
  -ms-flex-align: end;
  
}

#dropdown {
  position: absolute;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(29, 28, 28);
  overflow: auto;
  top: 80px;
  left: 10%;
  z-index: 2;
  width: 80%;
  text-align: center;
}

.dropdown-content a {
  font-size: 20px;
  display: block;
  padding: 10px 30px;
}

.dropdown-content a:hover {
  background-color: rgb(214, 159, 159);
  color: #1d1d1b;
}

.show{
  display: block;
}


#main {
  background-image: url("../img/bgimg1a.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main-title {
  text-align: center;
  position: relative;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vh;
}

#main-date {
  text-align: center;
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5em;
  line-height: 50%;
}

#countdown{
  text-align: center;
  position: relative;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5em;
  line-height: 50%;
}


h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 2em;
}

section{
  display: flex;
  height: 100%;
  padding-top: 100px;
flex-direction: column;
}

table {
  width: 80%;
  height: 70%;
  background-color: #701103;
  padding: 10px;
  text-align: center;
  margin: auto;
}

th {
  border-bottom: #FCFCA6 1px solid;
}

th,
td {
  padding: 1vh;
  font-size: 1.5vh;
}


.container {
  display: flex;
  text-align: center;
  margin-top: 5%;
  flex-direction: column;
}

.left {
  display: flex;
}

.img_left {
  width: 100%;
}

.img_map {
  width: 30%;
}

.img_right {
  width: 100%;
}

.right {
  display: flex;
  text-align: justify;
  line-height: 30px;
  padding: 20px;
}


.container {
  display: flex;
  text-align: justify;
}

.column-triple{
  display: flex;
  flex-direction: column;
}


.column-triple div{
  padding: 10px;
}


h3{
  padding: 20px;
}


#contact .container .left {
  display: flex;
  justify-content: center;
}


.img_map {
  width: 80%;
}

#faq {
  height: 80%;
  margin-bottom: 40px;
}

#faq .left{
  margin-left: 40px;
}

#faq ol li{
  cursor: pointer;
  padding: 10px;
}

#faq .right{
  color: rgb(246, 191, 124);
 background-color: #252323;
}

.logos {
  width: 50px;
  padding: 10px;
}

footer{
  padding: 10px;
  font-size: 10px;
  font-style: italic;
}


@media only screen and (min-width: 1000px) {
  nav ul li {
    display: inline-block;
    visibility: visible;
  }

  .fa-bars {
    font-size: 30px;
    display: none;
    visibility: hidden;
  }

  nav .dropdown {
    visibility: hidden;
    display: none;
  }


  #main-title {

    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
  }

  #main-date {

    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    line-height: 50%;
  }

  .update{
    text-align: center;
    position: relative;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    line-height: 50%;
  }

  .container {
    flex-direction: row;
    
  }

  .left{
    display: flex;
    flex: 50%;
    padding:0px 30px;
  }

  .right {
    display: flex;
    text-align: justify;
    line-height: 50px;
    flex:50%;
    padding:0px 30px;
  }
  .container{
    display: flex;
    flex-direction: row;
    padding: 0px 20px;  
    justify-content: space-around;
  }

  .column-triple{
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  #faq ol li{
    padding: 10px;
  }

  #faq .right{
    color: rgb(246, 191, 124);
   background-color: rgb(5, 5, 5);
  }

  footer{
    display: flex;
    flex-direction: row;
    background-color: #050505;
    padding: 10px;
    justify-content: space-between;
  }

}