* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body,
  html {
    background-color: rgb(5, 5, 5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #FCFCA6;
    height: 100%;
    scroll-behavior: smooth;
  }
  
  nav {
    position: fixed;
    width: 100%;
    background: rgb(0, 0, 0);
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 1;
  }
  
  nav ul {
    visibility: hidden;
  }
  
  nav ul li {
    display: none;
    padding: 0 10px;
  }
  
  
  a {
    color: #FCFCA6;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  a:link {
    color: #FCFCA6;
  }
  
  a:visited {
    color: #FCFCA6;
  }
  
  a:hover {
    color: #88885c;
  }
  
  a:active {
    color: #88885c;
  }
  
  .fa-bars {
    font-size: 30px;
    display: block;
    -ms-flex-align: end;
    
  }
  
  #dropdown {
    position: absolute;
    display: inline-block;
  
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(29, 28, 28);
    overflow: auto;
    top: 80px;
    left: 10%;
    z-index: 2;
    width: 80%;
    text-align: center;
  }
  
  .dropdown-content a {
    font-size: 20px;
    display: block;
    padding: 10px 30px;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(214, 159, 159);
    color: #1d1d1b;
  }
  
  .show{
    display: block;
  }
  
  #cookie-banner{
    position: fixed;
    bottom: 40px;
    left:40px;
    background-color: rgb(221, 247, 222);
    color: #050505;
    padding: 20px;
    box-shadow: 3px 3px 6px rgb(26, 26, 26);
    border: none;
  }
  
  
  #main {
    background-image: url("../img/bgimg1b.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #main-title {
    text-align: center;
    position: relative;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vh;
  }
  
  #main-date {
    text-align: center;
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    line-height: 50%;
  }
  
  #countdown{
    text-align: center;
    position: relative;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    line-height: 50%;
  }
  
  
  h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 2em;
  }
  
  #lineup{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  #lineup ul li{
    padding: 10px;
  }
  
  section{
    display: flex;
    height: 100%;
    padding-top: 100px;
  flex-direction: column;
  }
  
  .container {
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    margin-left: 50px;
    text-align: justify;
  }
  
  .left {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
  }
  
  .img_left {
    width: 100%;
  }
  
  .img_map {
    width: 30%;
  }
  
  .img_right {
    width: 100%;
  }
  
  .right {
    display: flex;
    text-align: justify;
    line-height: 30px;
    padding: 20px;
    margin-top: 0;
    justify-content: space-around;
  }
  
  
  
  
  .column-triple{
    display: flex;
    flex-direction: column;
  }
  
  
  .column-triple div{
    padding: 10px;
  }
  
  
  h3{
    padding: 20px;
  }
  
  
  #contact .container .left {
    display: flex;
    justify-content: center;
  }
  
  
  .img_map {
    width: 80%;
  }
  
  #faq {
    height: 80%;
    margin-bottom: 40px;
  }
  
  #faq .left{
    margin-left: 40px;
  }
  
  #faq ol li{
    cursor: pointer;
    padding: 10px;
  }
  
  #faq .right{
    color: rgb(246, 191, 124);
   background-color: #252323;
  }
  
  .logos {
    width: 50px;
    padding: 10px;
  }
  
  footer{
    padding: 10px;
    font-size: 10px;
    font-style: italic;
  }
  
  
  @media only screen and (min-width: 1000px) {
    nav ul li {
      display: inline-block;
      visibility: visible;
    }
  
    .fa-bars {
      font-size: 30px;
      display: none;
      visibility: hidden;
    }
  
    nav .dropdown {
      visibility: hidden;
      display: none;
    }
  
    
  
  
    #main-title {
  
      top: 8%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.5em;
    }
  
    #main-date {
  
      top: 12%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.5em;
      line-height: 50%;
    }
  
    .update{
      text-align: center;
      position: relative;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.5em;
      line-height: 50%;
    }
  
    .section{
      flex-direction: row;
    }
  
    #lineup{
      column-count: 3;
      text-align: center;
      flex: none;
      display: block;
    }
  
    #lineup ul li{
      text-decoration: none;
      padding: 20px;
    }
      
  
    .left{
      display: flex;
      flex: 50%;
      padding:0 30px;
    }
  
     .bg_img {
      background-color: white;
      margin: 0;
      padding: 0;
      border: 0;
      backface-visibility: hidden;
    } 
  
    .left img:hover {
      opacity: 70%;
      transition: 0.5s ease-in-out;
    }
  
    .right {
      display: flex;
      text-align: justify;
      line-height: 50px;
      flex:50%;
      padding:0 30px;
    }
    .container{
      display: flex;
      flex-direction: row;
      padding: 0 0;
      text-align: justify;
     
    }
  
    h3 {
      margin: 0;
    }
  
    #musDesc{
     margin-top: 10px;
     display: flex;
     flex-wrap: wrap;
     width:100%;
     justify-content: left;
    }
  
    #musDesc > div{
      width:250px;
      margin: 20px;
      justify-content: space-between;
    }
  
    .column-triple{
      padding: 10px;
      width: 100%;
      justify-content: space-between;
    }
  
    #faq ol li{
      padding: 10px;
    }
  
    #faq .right{
      color: rgb(246, 191, 124);
     background-color: rgb(5, 5, 5);
    }
  
    footer{
      display: flex;
      flex-direction: row;
      background-color: #050505;
      padding: 10px;
    }
    footer .left{
  justify-content: left;
    }
  
    footer .right{
      justify-content: right;
    }
  }