<h2>Archive festivals</h2>
        <div class="container">
            <div class="left">
                <a href="/archive" title="Archive"><img src="./img/ar1a.jpg" class="img_left" alt="image"></a>
            </div>
            <div class="right">
                Our Contemporary Jazz Festival has long tradition. The first edition took place in 2018.
                Check our previous editions and artists performing in every year.
            </div>
        </div>