<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Festival</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/11edfe8d81.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <div class="logo">
            <a href="/#main"><img src="./img/logo.png" alt="logo" height="30px"></a>
        </div>
        <ul>
            <li><a href="/#main">home</a></li>
            <li><a href="/#program">program</a></li>
            <li><a href="/#musicians">musicians</a></li>
            <li><a href="/#scenes">scenes</a></li>
            <li><a href="/#events">events</a></li>
            <li><a href="/#quizzes">quizzes</a></li>
            <li><a href="/#archive">archive</a></li>
            <li><a href="/#contact">contact</a></li>
            <li><a href="/#faq">faq</a></li>
        </ul>
        <div class="dropdown">
            <div class="fas fa-bars" onclick="toggleDropdown()"></div>
            <div id="myDropdown" class="dropdown-content">
                <a href="/#main">home</a>
                <a href="/#program">program</a>
                <a href="/#musicians">musicians</a>
                <a href="/#scenes">scenes</a>
                <a href="/#events">events</a>
                <a href="/#quizzes">quizzes</a>
                <a href="/#archive">archive</a>
                <a href="/#contact">contact</a>
                <a href="/#faq">faq</a>
            </div>
        </div>
    </nav>
    <section class="triple">
        <h2>Archive</h2>
        <div class="container">
            
            <form action="/archive" method="GET">
                <label for="year">Choose a year:</label>
                <select name="year" id="year">
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
                  <option value="2024" selected>2024</option>
                </select>
                <button type="submit">Show Artists</button>
              </form>
            
              <% if (artists && artists.length > 0) { %>
                
                <ul>
                  <% artists.forEach(artist => { %>
                    <li><%= artist.artist_name %></li>
                  <% }); %>
                </ul>
              <% } else if (artists) { %>
                <p>No artists found for the selected year.</p>
              <% } %>
        </div>
    </section>
    <script src="scripts/script.js"></script>
</body>

</html>