<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Contact</h2>
        <div class="container">
            <div class="left">
                <form>
                    <label for="name">Your name:</label><br>
                    <input type="text" id="name" name="name" autocomplete="given-name" required><br>
                    <label for="email">Your email:</label><br>
                    <input id="email" name="email" type="email" autocomplete="off" required><br>
                    <label for="subject">Subject:</label><br>
                    <input type="text" id="subject" name="subject"><br>
                    <label for="message">Message:</label><br>
                    <textarea name="message" rows="6" title="message" id="message"></textarea><br>

                    <input type="button" value="Send">
                </form>
            </div>
            <div class="right">
                <img src="./img/map.jpg" title="map" class="img_map" alt="map">
            </div>
        </div>
</body>
</html>