<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contemporary Jazz Festival 2024 - Contact</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://kit.fontawesome.com/11edfe8d81.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h2>Contact</h2>
    <div class="contact-container">
      <form action="/save_contact" method="POST">
        <label for="name">Your name:</label><br />
        <input
          type="text"
          id="fullname"
          name="fullname"
          autocomplete="given-name"
          required
          placeholder="Your name..."
        /><br />
        <label for="email">Your email:</label><br />
        <input
          id="email"
          name="email"
          type="email"
          autocomplete="off"
          required
          placeholder="Your email..."
        /><br />
        <label for="subject">Subject:</label><br />
        <input
          type="text"
          id="subject"
          name="subject"
          placeholder="Subject..."
        /><br />
        <label for="message">Message:</label><br />
        <textarea
          name="message"
          rows="6"
          title="message"
          id="message"
          placeholder="Write a message..."
        ></textarea
        ><br />

        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
