<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Other events</h2>
    </div>
    <div class="container">
        <div class="left">
            <div class="bg_img">
                <a href="/events"><img src="./img/b9a.jpg" class="img_left" alt="image" title="events"></a>
            </div>
        </div>
        <div class="right">
            There are additional events in the city like films projections - all about jazz music, discussions and
            meetings with musicians.
            There are clubs where you can dance to jazz music!!!
        </div>
    </div>
</body>
</html>