<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Festival</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/11edfe8d81.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/#main"><img src="./img/logo.png" alt="logo" height="30px"></a>
        </div>
        <ul>
            <li><a href="/#main">home</a></li>
            <li><a href="/#program">program</a></li>
            <li><a href="/#musicians">musicians</a></li>
            <li><a href="/#scenes">scenes</a></li>
            <li><a href="/#events">events</a></li>
            <li><a href="/#quizzes">quizzes</a></li>
            <li><a href="/#archive">archive</a></li>
            <li><a href="/#contact">contact</a></li>
            <li><a href="/#faq">faq</a></li>
        </ul>
        <div class="dropdown">
            <div class="fas fa-bars" onclick="toggleDropdown()"></div>
            <div id="myDropdown" class="dropdown-content">
                <a href="/#main">home</a>
                <a href="/#program">program</a>
                <a href="/#musicians">musicians</a>
                <a href="/#scenes">scenes</a>
                <a href="/#events">events</a>
                <a href="/#quizzes">quizzes</a>
                <a href="/#archive">archive</a>
                <a href="/#contact">contact</a>
                <a href="/#faq">faq</a>
            </div>
        </div>
    </nav>
    <section class="triple">
        <h2>Other Events</h2>
        <div class="container">
            <div class="column-triple">
                <div>
                    <h3>Dancing clubs</h3>
                    <img src="./img/e1.jpg" class="img_left" alt="image">
                </div>
                <div>
                    Have a good time dancing to the jazz music. No hiphop, no disco but dancing to the real swing and bebop groove! Move to early years of the 20th century and dance charleston.
                </div>
            </div>
            <div class="column-triple">
                <div>
                    <h3>Films</h3>
                    <img src="./img/ee1.jpg" class="img_left" alt="image">
                </div>
                <div>
                    Many interesting musical films, older and new productions. Documentary films about famous jazz players. The latest "How jazzy he was", "Swing my baby", "New Orleans legend" - these are only a few of titles of the films we will present.
                </div>
            </div>
            <div class="column-triple">
                <div>
                    <h3>Discussions and interviews</h3>
                    <img src="./img/ee3.jpg" class="img_left" alt="image">
                </div>
                <div>
                    You can meet and talk to our musicians. Our musicians are very interesting to meet their fans and tell about their work. Maybe it is the only chance to ask a question to your idol.
                </div>
            </div>
        </div>
    </section>
    <script src="scripts/script.js"></script>
</body>
</html>