<h2>Frequently Asked Questions</h2>
<div class="flex-container-faq">
  <div class="faq-left">
    <ol>
      <li onclick="faq1()">Where to buy tickets?</li>
      <li onclick="faq2()">What happened if I miss a concert?</li>
      <li onclick="faq3()">Is it restricted to wear colorful clothes?</li>
      <li onclick="faq4()">May I bring my own food?</li>
      <li onclick="faq5()">Are there any restrictions for children?</li>
      <li onclick="faq6()">What is your favourite color?</li>
    </ol>
  </div>
  <div class="faq-right">
    <p id="answer">Click on question.</p>
  </div>
</div>
<script src="scripts/script.js"></script>
