<hr>
<div class="left">
  <p>
    Copyright &copy; Glod &amp; Jaro Entertainment.<br>All rights reserved.
  </p>
</div>
<div class="right">
  <a href="#" target="_blank" title="Facebook"
    ><img src="./img/face.png" class="logos" alt="logo"></a>
  <a href="#" target="_blank" title="Twitter"
    ><img src="./img/twit.png" class="logos" alt="logo"></a>
  <a href="#" target="_blank" title="Youtube"
    ><img src="./img/you.png" class="logos" alt="logo"></a>
  <a href="#" target="_blank" title="Instagram"
    ><img src="./img/inst.png" class="logos" alt="logo"></a>
  <a href="#" target="_blank" title="TicToc"
    ><img src="./img/tic.png" class="logos" alt="logo"></a>
</div>
