<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Program</h2>
    <div id="lineup">
      <div class = row>
          <div id="scene_main" class="column">Main Scene
          </div>
          <div id="scene_small" class="column">Small Scene
          </div>
          <div id="scene_alt" class="column">Alternative scene
          </div>
      </div>
  </div>
<ul>
  <% artists.forEach(artist => { %>
    <%= artist.artist_name %><br><%= artist.performance_time %><br></li>
  <% }); %>
</ul>
</body>
</html>

