<h2>Musicians</h2>
<div class="container">
  <div class="left">
    <a href="/musicians"
      ><img src="./img/b4a.jpg" class="img_left" alt="image" title="musicians"
    /></a>
  </div>
  <div class="right">
    This year we have invited top musician representing different styles of jazz
    music. We have diversity of styles: from traditional swing, bebop musician,
    through ethnic influences on jazz music to contemporary, experimental
    electronic music. Each day fans of jazz may find something interesting,
    according to personal preferences.
  </div>
</div>
