<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Festival</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/11edfe8d81.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <%- include('nav_other') %>
    </nav>
    <section class="triple">
        <h2>Quizzes</h2>
        <div class="container">
            <div class="column-triple">
                <div>
                    <h3>Jazz History (Easy)</h3>
                    <img src="./img/ega.jpg" class="img_triple" alt="image" width="100%">
                </div>
                <div>
                    This year we have invited top musician representing different styles of jazz music.
                    We have diversity of styles: from traditional swing, bebop musician, 
                    through ethnic influences on jazz music to contemporary, experimental electronic music.
                    Each day fans of jazz may find something interesting, according to personal preferences.
                </div>
            </div>
            <div class="column-triple">
                <div>
                    <h3>Famous Songs (Normal)</h3>
                    <img src="./img/ema.jpg" class="img_tr" alt="image" width="100%">
                </div>
                <div>
                    This year we have invited top musician representing different styles of jazz music.
                    We have diversity of styles: from traditional swing, bebop musician, 
                    through ethnic influences on jazz music to contemporary, experimental electronic music.
                    Each day fans of jazz may find something interesting, according to personal preferences.
                </div>
            </div>
            <div class="column-triple">
                <div>
                    <h3>Jazz Rules (Difficult)</h3>
                    <img src="./img/ejba.jpg" class="img_tr" alt="image" width="100%">
                </div>
                <div>
                    This year we have invited top musician representing different styles of jazz music.
                    We have diversity of styles: from traditional swing, bebop musician, 
                    through ethnic influences on jazz music to contemporary, experimental electronic music.
                    Each day fans of jazz may find something interesting, according to personal preferences.
                </div>
                
            </div>
        </div>
    </section>
   





    <script src="scripts/script.js"></script>
</body>
</html>