<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ontemporary Jazz Festival 2024 - Quizzes</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/11edfe8d81.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <%- include('nav_other') %>
    </nav>
    <section class="triple">
        <h2>Quizzes</h2>
        <div class="container">
            <div class="column-triple">
                <div>
                    <h3>Jazz History (Easy)</h3>
                    <img src="./img/ega.jpg" class="img_triple" alt="image" width="100%">
                </div>
                <div>
                    Enjoy the games waiting for the festival. Games are unforunetly not ready yet.
                </div>
            </div>
            <div class="column-triple">
                <div>
                    <h3>Famous Songs (Normal)</h3>
                    <img src="./img/ema.jpg" class="img_tr" alt="image" width="100%">
                </div>
                <div>
                    Enjoy the games waiting for the festival. Games are unforunetly not ready yet.
                </div>
            </div>
            <div class="column-triple">
                <div>
                    <h3>Jazz Rules (Difficult)</h3>
                    <img src="./img/ejba.jpg" class="img_tr" alt="image" width="100%">
                </div>
                <div>
                    Enjoy the games waiting for the festival. Games are unforunetly not ready yet.
                </div>
                
            </div>
        </div>
    </section>
    <script src="scripts/script.js"></script>
</body>
</html>