<h2>Quizzes</h2>
        <div class="container">
            <div class="left">
                <div class="bg_img">
                    <a href="/quizzes"><img src="./img/q1a.jpg" class="img_left" alt="image" title="quizzes"></a>
                </div>
            </div>
            <div class="right">
                Try our quizzes about jazz music, jazz history or general music knowledge.
            </div>
        </div>