<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scenes</title>
</head>

<body>
    <h2>Scenes</h2>
    <div class="container">
        <div class="left">
            <div class="bg_img">
                <a href="/scenes"><img src="./img/b6a.jpg" class="img_left" alt="image" title="scenes"></a>
            </div>
        </div>
        <div class="right">
            Our artists will give performances on three stages.
            The main stage is situated in the theater in the city center.
            There is also alternative scene located 500 meters away.
            The third scene is experimental, with different musicians and different styles.
        </div>
    </div>
</body>
</html>