* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: rgb(5, 5, 5);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #FCFCA6;
  height: 100%;
  scroll-behavior: smooth;
}

/* Navigation small*/
nav {
  position: fixed;
  width: 100%;
  background: rgb(0, 0, 0);
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 1;
}

nav ul {
  visibility: hidden;
}

nav ul li {
  display: none;
  padding: 0 10px;
}


a {
  color: #FCFCA6;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}

a:link {
  color: #FCFCA6;
}

a:visited {
  color: #FCFCA6;
}

a:hover {
  color: #88885c;
}

a:active {
  color: #88885c;
}

.fa-bars {
  font-size: 30px;
  display: block;
  -ms-flex-align: end;

}

#dropdown {
  position: absolute;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(29, 28, 28);
  overflow: auto;
  top: 80px;
  left: 10%;
  z-index: 2;
  width: 80%;
  text-align: center;
}

.dropdown-content a {
  font-size: 20px;
  display: block;
  padding: 10px 30px;
}

.dropdown-content a:hover {
  background-color: rgb(214, 159, 159);
  color: #1d1d1b;
}

.show {
  display: block;
}

/* cookie banner small*/
#cookie-banner {
  position: fixed;
  bottom: 40px;
  left: 40px;
  background-color: rgb(221, 247, 222);
  color: #050505;
  padding: 20px;
  box-shadow: 3px 3px 6px rgb(26, 26, 26);
  border: none;
}

/* The main page small*/
#main {
  background-image: url("../img/bgimg1b.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main-title {
  text-align: center;
  position: relative;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vh;
}

#main-date {
  text-align: center;
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5em;
  line-height: 50%;
}

#countdown {
  text-align: center;
  position: relative;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5em;
  line-height: 50%;
}

h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.5em;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 2em;
}

/* Program small*/

#program {
  height: 160%;
}

#lineup {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.column {
  flex: 30%;
  margin-top: 10px;
}

#lineup ul li {
  text-decoration: none;
}

/* Sections small*/
section {
  display: flex;
  height: 100%;
  padding-top: 100px;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: justify;
}


.container-musicians {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
}

/* container small */
.left {
  display: row;
  justify-content: space-around;
}

.right {
  display: row;
  text-align: justify;
  line-height: 30px;
  padding: 20px;
  margin-top: 0;
  justify-content: space-around;
}

.img_left {
  width: 100%;
}

.img_right {
  width: 100%;
}

.column-triple {
  display: flex;
  flex-direction: column;
}

.column-triple div {
  padding: 10px;
}

h3 {
  padding: 20px;
}

/* Archive small */
.flex-container-arch {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 10px 60px;
}

.arch-left {

  flex: 50%;
}

.arch-right {
  color: rgb(246, 191, 124);
  padding: 10px;
  flex: 50%;
  line-height: 200%;
}

select {
  cursor: pointer;
  padding: 10px;
}

/* Contact page small*/
.contact-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 60px;
}

form {
  width: 100%;
}

input {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
}

textarea {
  width: 100%;
  padding: 5px;
}

/* FAQ small*/

#faq {
  margin-bottom: 40px;
  height: 80%;
}

.flex-container-faq {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 10px 60px;
}

.faq-left {
  padding: 10px;
  flex: 50%;
}

.faq-right {
  color: rgb(246, 191, 124);
  background-color: #252323;
  padding: 10px;
  flex: 50%;
  line-height: 200%;
}

#faq ol li {
  cursor: pointer;
  padding: 10px;
}



/* Footer small*/
.logos {
  width: 50px;
  padding: 10px;
}

footer {
  padding: 10px;
  font-size: 10px;
  font-style: italic;
}

.musicians-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 0;
}

.musicians-data>div {
  justify-content: stretch;
  width: 100%;
  padding: 10px;
}

.musicians-data img {
  width: 100%;
}

@media only screen and (min-width: 1000px) {

  /* Navigation big*/
  nav ul li {
    display: inline-block;
    visibility: visible;
  }

  .fa-bars {
    font-size: 30px;
    display: none;
    visibility: hidden;
  }

  nav .dropdown {
    visibility: hidden;
    display: none;
  }

  /* The main page big*/
  #main-title {

    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
  }

  #main-date {
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    line-height: 50%;
  }

  .update {
    text-align: center;
    position: relative;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    line-height: 50%;
  }

  /* Sections big */
  .section {
    flex-direction: row;
  }

  .container {
    display: flex;
    flex-direction: row;
    padding: 0 0;
    text-align: justify;
  }


  /* Program big*/
  #program {
    height: 100%;
  }

  #lineup {
    column-count: 3;
    text-align: center;
    flex: none;
    display: block;
  }

  #lineup ul li {
    text-decoration: none;
    padding: 5px;
  }

  .bg_img {
    background-color: white;
    margin: 0;
    padding: 0;
    border: 0;
    backface-visibility: hidden;
  }

  .left img:hover {
    opacity: 70%;
    transition: 0.5s ease-in-out;
  }

  .left {
    display: flex;
    flex: 50%;
    padding: 0 30px;
  }

  .right {
    display: flex;
    text-align: justify;
    line-height: 50px;
    flex: 50%;
    padding: 0 30px;
  }

  h3 {
    margin: 0;
  }

  .column-triple {
    padding: 0px 10px;
    width: 100%;
  }

  /* Archive big */
  .flex-container-arch {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    padding: 10px 60px;
  }

  .arch-left {
    padding-left: 350px;
    flex: 50%;
  }

  /* Contact big */
  form {
    width: 40%;
  }

  /* FAQ big */
  #faq {
    height: 80%;
    margin-bottom: 40px;
  }

  .flex-container-faq {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding: 40px 160px;
  }

  .faq-left {
    padding: 40px;
    flex: 50%;
  }

  .faq-right {
    color: rgb(246, 191, 124);
    background-color: #252323;
    padding: 40px;
    flex: 50%;
  }

  #faq ol li {
    cursor: pointer;
    padding: 10px;
  }

  /* Footer big */
  footer {
    display: flex;
    flex-direction: row;
    background-color: #050505;
    padding: 10px;
  }

  footer .left {
    justify-content: left;
  }

  footer .right {
    justify-content: right;
  }

  .musicians-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    z-index: 0;
  }

  .musicians-data>div {
    justify-content: stretch;
    width: 250px;
  }

  .musicians-data img {
    width: 220px;
  }
}